html,
body {
  height: 100vh;
  box-sizing: border-box;
  // overflow: hidden;
}

body {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  #root {
    @apply h-full w-full text-16;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  resize: none;

  &:focus {
    outline: none;
  }
}

input {
  border: none;
}
