html,
body {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body #root {
  @apply h-full w-full text-16;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  resize: none;
}

textarea:focus {
  outline: none;
}

input {
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply ring-black focus:border-black focus:ring-black focus:ring-0 rounded-sm;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full flex flex-col items-center;
  }
  .container {
    @apply max-w-screen-desktop w-full px-1 desktop:px-0;
  }
  .move-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .prevent-highlight {
    user-select: none;
    /* Non-prefixed version, currently */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }
  .paragraph-with-2-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .paragraph-with-3-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .prevent-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  .pretty-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }
  .pretty-scroll::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }
  .pretty-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c4c4c4;
  }
}
/*# sourceMappingURL=index.css.map */