.otp-container {
  @apply flex justify-center space-x-1 phone:space-x-1.5 laptop:space-x-2;
  & .otp-input {
    @apply h-4 flex-shrink-0 text-primary-1 text-16 w-6  font-bold focus-within:ring-primary-1;
    width: 100% !important;
  }
  & .otp-error {
    @apply text-sematic-1;
  }
}

.otp-input {
  @apply h-4 flex-shrink-0 text-primary-1 text-16 w-3  font-bold focus-within:ring-primary-1 mr-2;
  width: 100% !important;
}
