.custom-table__container {
  @apply w-full -mt-1 max-w-full overflow-x-auto;
}

.custom-table__container table {
  @apply pt-2 pl-2 pr-2 text-13 table-auto leading-tight text-left w-full border-separate bg-white rounded-sm;
  border-spacing: 0 3px;
}

.custom-table__container thead tr {
  @apply border border-line;
}

.custom-table__container th {
  @apply text-14 py-2.5 px-1 text-black font-medium whitespace-nowrap align-top;
  /* &:first-child { */
  /*   @apply rounded-l-md; */
  /* } */
}

.custom-table__container th + th {
  @apply pl-0;
}

.custom-table__container th:last-child {
  @apply text-right whitespace-nowrap mr-0 ml-auto;
  min-width: 100px;
  /* @apply rounded-r-md; */
}

.custom-table__container td {
  @apply text-14 align-middle px-1 py-2 font-regular border-t border-line;
}

.custom-table__container td:last-child {
  @apply mr-0 ml-auto;
}

.custom-table__container td + td {
  @apply pl-0;
}

.custom-table__container_version_report th:last-child { 
  @apply  text-left
}
/*# sourceMappingURL=table.css.map */