.custom-table {
  &__container {
    @apply w-full -mt-1 max-w-full overflow-x-auto;
    table {
      @apply pt-2 pl-2 pr-2 text-13 table-auto leading-tight text-left w-full border-separate bg-white rounded-sm;
      border-spacing: 0 3px;
    }
    thead {
      tr {
        @apply border border-line;
      }
    }

    th {
      @apply text-14 py-2.5 px-1 text-black font-medium whitespace-nowrap align-top;
      & + th {
        @apply pl-0;
      }
      /* &:first-child { */
      /*   @apply rounded-l-md; */
      /* } */
      &:last-child {
        @apply text-right whitespace-nowrap mr-0 ml-auto;
        min-width: 100px;
        /* @apply rounded-r-md; */
      }
    }
    td {
      @apply text-14 align-middle px-1 py-2 font-regular border-t border-line;
      &:last-child {
        @apply mr-0 ml-auto;
      }

      & + td {
        @apply pl-0;
      }
    }
  }
}
